<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div class="text-center">
                <div>
                    <img class="custom-img" [src]="logoIcon" alt="...">
                    <h3 class="fw-light">Raspi Controller</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <h5 class="fw-light text-center" style="color: black">Connecting with authorization service...</h5>
            </div>
        </div>
    </div>
</div>