<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <div class="text-center">
        <div>
          <img class="custom-img" [src]="logoIcon" alt="...">
          <h3 class="fw-light">Raspi Controller</h3>
          <hr />
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-outline-primary custom-btn" (click)="login()">
          <img [src]="githubIcon" class="custom-img">
          <h5 class="fw-light" style="color: black">Login with GitHub</h5>
        </button>
      </div>
    </div>
  </div>
</div>