.navbar {
    background-color:transparent;
}

.bg-dark {
    background-color:transparent;
}

.img {
    margin: 10px;
    width: 100px;
    height: 100px;
}

.logout-img {
    width: 20px;
    height: 20px;
}

.custom-btn {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
  }