<div>
    <div class="text-center">
        <button type="button" class="btn btn-outline-primary custom-btn" (click)="volumeDown()">
            <img [src]="volumeDownIcon" class="vol-img">
        </button>
        <button type="button" class="btn btn-outline-primary custom-btn" (click)="startStopRadio()">
            <img [src]="stopped ? startIcon : stopIcon" class="play-img">
        </button>
        <button type="button" class="btn btn-outline-primary custom-btn" (click)="volumeUp()">
            <img [src]="volumeUpIcon" class="vol-img">
        </button>
    </div>
    <div class="text-center">
        <input type="range" class="form-range" id="volumeRange" min="0" max="100">
    </div>
</div>